<h1>This is the about page</h1>

<p>This is mye first web page</p>
<a href="https://www.ntnu.no/studier/studieplan#programmeCode=MTI%C3%98T&year=2016&dir=MTI%C3%98TD-16">Subjects this spring</a>
<ul>
  <li>Objektorientert programmering</li>
  <li>Kommunikasjon, tjenester og nett</li>
  <li>Organisasjonsteori og selskapsrett</li>
  <li>Matte 3</li>
</ul>


<%= link_to 'Home', root_path %>